<!-- nav -->
<div class="container text-center">
    <div class="col-sm-8 offset-sm-2">
        <a routerLink="" class="btn btn-link">Single Alert</a>
        <a routerLink="/multi-alerts" class="btn btn-link">Multiple Alerts</a>
    </div>
</div>

<!-- main app container -->
<div class="jumbotron">
    <div class="container text-center">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2017/06/25/angular-2-4-alert-toaster-notifications" target="_top">Angular 2/5 - Alert (Toaster) Notifications</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>